.cartImg {
  max-width: 100%;
}
.quantity {
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
  }
  .countItem {
    width: 100%;
  }
  .countBtn {
    width: 50%;
  }
}